* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

body {
  font-size: 20px;
  max-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(229, 238, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.container {
  max-width: 500px;
  text-align: center;
}

.review-wrapper{
  background-color: #fff;
  padding: 25px;
  box-shadow: 0px 0px 31px 0px rgba(95, 84, 84, 0.75);
  -webkit-box-shadow: 0px 0px 31px 0px rgba(95, 84, 84, 0.75);
  -moz-box-shadow: 0px 0px 31px 0px rgba(95, 84, 84, 0.75);
  border-radius: 5px;
  margin-top: 80px;
}

.review-header{
    position: relative;
    display: inline-block;
}

.review-header::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 12px;
    border-bottom: 2px solid rgb(180, 63, 20);
}

.name{
    font-size: 25px;
    letter-spacing: 3px;
    margin-top: 12px;
    font-weight: 600;
}

.designation{
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 5px;
    color: rgb(17, 134, 180);
}

.review{
    line-height: 25px;
}

.btn{
    padding: 5px 10px;
    margin-top: 12px;
    border: 0px;
    background-color: transparent;
    border-radius: 0;
    color: rgb(13, 104, 139);
    font-weight: 800;
    cursor: pointer;
}

.btn-random{
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid rgb(48, 117, 145);
}

.no-data{
    color: #acd7e7;
    pointer-events: none;
}